@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>App</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <div class="text-center">
            @ViewBag.Greeting, World!
            <h3>We are going to have a great party.</h3>
            <h4>And you are invited.</h4>
            <a asp-action="RsvpForm" class="btn btn-primary">RSVP Now</a>
        </div>
    </body>
</html>
